/* === GERAL === */
body {
  font-family: 'Golos Text', sans-serif;
}

.f-carter {
  font-family: 'Carter One', cursive;
}

.btn {
  transition: 0.3s all;
}

.btn,
.btn:hover,
.detalhe,
#adocao aside .nav-link.active,
footer {
  background-color: #d9072d;
  color: #f2f1f0;
}

.btn:hover {
  opacity: 0.8;
  scale: 1.1;
}

.text-red {
  color: #d9072d;
}

#sobre,
#doacoes {
  background-color: #f2f1dc;
}

#adocao aside .nav-link:hover,
#contato .social-links a:hover {
  opacity: 0.8;
}

/* === HEADER === */
#cabecalho {
  background-color: #d9072d;
}

#cabecalho h1 {
  cursor: default;
}

#menu-header .nav-link,
.navbar-brand {
  color: #f2f1f0;
  transition: 0.3s ease;
}

#menu-header .nav-link:hover,
.navbar-brand:hover {
  color: #f2f1f0;
  opacity: 0.8;
}

/* === SOBRE === */
#sobre .carousel-item img {
  height: calc(100vh - 56px);
  object-fit: cover;
}

/* === ADOCAO === */
#adocao aside .nav-link {
  color: #d9072d;
}

#adocao .dog-adocao {
  max-width: max(250px, 100% - 30px);
  height: 600px;
}

#adocao .dog-adocao img {
  height: 400px;
  object-fit: cover;
}

#adocao .dogs:nth-child(3) .dog-adocao img,
#adocao .dogs:nth-child(6) .dog-adocao img {
  object-position: bottom center;
}

/* === DOACOES === */
#doacoes img {
  height: 70vh;
  object-fit: cover;
}

/* === CONTATO === */
#contato .social-links {
  list-style: none;
  display: flex;
  gap: 12px;
}

#contato textarea {
  height: 200px;
  resize: none;
}
