/* === GERAL === */
body {
  font-family: 'Golos Text', sans-serif;
}
.f-carter {
  font-family: 'Carter One', cursive;
}
.btn {
  transition: 0.3s all;
}
.btn,
.btn:hover {
  background-color: #d9072d;
  color: #f2f1f0;
}
.btn:hover {
  opacity: 0.8;
  scale: 1.1;
}
.text-red {
  color: #d9072d;
}

/* === HEADER === */
#cabecalho {
  background-color: #d9072d;
}

#menu-header .nav-link,
.navbar-brand {
  color: #f2f1f0;
  transition: 0.3s ease;
}

#menu-header .nav-link:hover,
.navbar-brand:hover {
  color: #f2f1f0;
  opacity: 0.8;
}

/* === SOBRE === */
#sobre {
  background-color: #f2f1dc;
}
#sobre .carousel-item img {
  height: calc(100vh - 56px);
  object-fit: cover;
}
